/* added background color to gradient as yellow and light yellow */
body{
    height: 10%;
    background: rgb(247, 247, 3); 
    background: linear-gradient(#f3f3b8, yellow);
}

/* added css properties to header element */
#header {
    width: 140px;
    height:70px;
    background-color: blue;
    color:white;
    padding: 20px 20px 20px 20px;
    border: 1px solid yellow;
    border-radius: 80%;
}
/* added padding to p element align text */
p {
    padding-left: 10%;
}
